@import '../../../node_modules/bootstrap/scss/bootstrap';

@import 'components/base';
@import 'components/weather';
@import 'components/water-level';

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}
