.traffic,
.weather,
.water-level,
.indoor-metric,
.connected-device {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // border-radius: 2px;
  background: #fff;
  // padding: 10px;
}

.traffic--is-loading,
.weather--is-loading,
.water-level--is-loading,
.indoor-metric--is-loading,
.connected-device--is-loading {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #9E9E9E;
  }

  &::after {
    content: '';
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    z-index: 1;
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    transform: translateY(-50%) rotate(360deg);
  }
}
