extends ../../layouts/home-sweet-home

mixin Block
  .Block
    .Block-title Online devices
    .Block-content Salut


block content
  .Block.Block--weather
    .Weather
      .Weather-temperature 21.4&deg; (outdoor)
      .Weather-forecast
        ul
          li Forecast D+1
          li Forecast D+2
          li Forecast D+3
          li Forecast D+4
      .Weather-rooms
        ul
          li Room A 21.4&deg; - 850ppm
          li Room B 21.4&deg; - 850ppm
  .Block.Block--wifi
    .Block-title Online devices
  .Block.Block--datetime
    .Datetime
      .Datetime-time 12:34
      .Datetime-date 01/01/2017
      .Datetime-sun
        ul
          li 6:30
          li 19:38
  .Block.Block--traffic
    .Traffic traffic
    .Traffic-list
      ul
        li Destination A: 9 mins
        li Destination B: 20 mins
