include ../components/Block.pug
include ../components/Weather.pug

doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block styles
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:300:400,700', rel='stylesheet')
      link(rel='stylesheet', href='/static/styles/main.css')
  body
    .Site
      block content

    block scripts
      script(src='/static/scripts/main.js')
